<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c)  Oracle and/or its affiliates. All rights reserved.
-->
<Configuration status="error">
    <Properties>
        <Property name="log_base_dir">//Users/tvajjala/Documents/GIT/process-builder</Property><!-- TODO: baseDir -->
        <Property name="log_dir">${log_base_dir}/logs/mv-creator</Property>
        <Property name="json_log_dir">${log_dir}/json</Property>
        <Property name="service_name">test-creator</Property>
        <Property name="suffix">${sys:suid:-default}</Property>
        <Property name="standard_archive">${log_dir}/${service_name}-%d{yyyy-MM-dd-HH}_%i.log.gz</Property>
        <Property name="json_archive">${json_log_dir}/${service_name}-%d{yyyy-MM-dd-HH}_%i.json.log.gz</Property>
        <Property name="log_pattern">%d{yyyy-MM-dd HH:mm:ss} [%5X{pid}] [%t] %-5p %c{1}:%L - %m%n</Property>
        <!-- General properties for log rotation -->
        <Property name="max_log_size">100 KB</Property>
        <Property name="rollover_max_files">50</Property>
    </Properties>
    <Appenders>

        <Console name="CONSOLE" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${log_pattern}"/>
        </Console>


        <!-- Standard log file generation -->
        <RollingFile name="fileAppender"
                     fileName="${log_dir}/${suffix}/${service_name}.log"
                     immediateFlush="false"
                     filePattern="${standard_archive}"
                     ignoreExceptions="false">

            <PatternLayout pattern="${log_pattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="${max_log_size}"/>
            </Policies>
            <DefaultRolloverStrategy max="${rollover_max_files}"/>
        </RollingFile>


    </Appenders>

    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="fileAppender"/>
            <!-- <AppenderRef ref="jsonTemplateLayoutAppender"/>-->
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>